language: julia
os:
  - linux
julia:
  - release
  - 0.4
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("HW_unconstrained"); Pkg.test("HW_unconstrained")';
